.frases {
    grid-template-areas:
        "title-fra title-fra"
        "doutor jinbei"
        "teach iceburg";
    grid-template-columns: 50% 50%;
    grid-template-rows: 155px;

    display: grid;
    text-align: center;
}

.title-frases {
    grid-area: title-fra;
    text-align: center;
    font-size: 6rem;
    margin-top: 50px;
}

.frases-icons {
    text-align: center;
    font-size: 1.2rem;
}

.nome {
    font-size: 2rem;
    color: var(--letras-color);
}

.icon {
    height: 220px;
    width: 220px;
}

.doutor {
    grid-area: doutor;
    align-items: center;
    gap: 40px;
    display: flex;
    padding: 35px;

}

.jinbei {
    grid-area: jinbei;
    align-items: center;
    gap: 40px;
    display: flex;
    padding: 35px;

}

.teach {
    grid-area: teach;
    align-items: center;
    gap: 40px;
    display: flex;
    padding: 35px;

}

.iceburg {
    grid-area: iceburg;
    align-items: center;
    gap: 40px;
    display: flex;
    padding: 35px;

}